<% layout('layouts/boilerplate') %>


<div class="container">
    <div class="row">
        <h1>Edit Your Foodies Spot!</h1>
        <form action="/spots/<%= foundSpot.id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate >
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="name" class="form-label">Name:</label>
                <input id="name" class="form-control" type="text" name="name" value="<%= foundSpot.name %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="location" class="form-label">Location:</label>
                <input id="location" class="form-control" type="text" name="location" value="<%= foundSpot.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="cost" class="form-label">Cost:</label>
                <input id="cost" class="form-control" type="text" name="cost" value="<%= foundSpot.cost %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="images" class="form-label">Upload Images:</label>
                <input class="form-control" type="file" id="images" name="images" multiple required>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label class="form-label" for="description">Description:</label>
                <textarea name="description" class="form-control" id="description" required><%= foundSpot.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-10 m-auto">
                <% foundSpot.images.forEach((img, i) => { %>
                    <div class="col">
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <label for="image-<%= i %>">Delete Image?</label>
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                <% }) %>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <button class="btn btn-primary">Update Spot</button>
            </div>
        </form>
    </div>
</div>