<% layout('layouts/boilerplate') %>

    <h1>Welcome to <%= foundSpot.name.slice(0,1).toUpperCase() + foundSpot.name.slice(1) %> Page!</h1>

    <div class="row justify-content-center">
        <div class="col-8 col-lg-6 mt-4">
            <div class="card">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item <%= foundSpot.images ? 'active' : '' %> ">
                        <% if(foundSpot.imageURL) { %>
                            <img src="<%= foundSpot.imageURL %>" class="card-img-top w-100" alt="food image">
                        <% } else { %>
                            <img src="<%= foundSpot.images[0].url %>" class="card-img-top w-100" alt="food image">
                        <% } %>
                      </div>
                      <% if(foundSpot.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    <% } %>
                  </div>
                </div>
                
                <div class="card-body">
                    <h5 class="card-title"><%= foundSpot.name %></h5>
                    <p class="card-text">Spot created by: <%= foundSpot.author.username %></p>
                    <p class="card-text">Located in <%= foundSpot.location %></p>
                    <p class="card-text">Estimated Cost: $<%= foundSpot.cost %></p>
                    <% if(!foundSpot.description) { %>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    <% } else { %>
                        <p class="card-text"><%= foundSpot.description %></p>
                    <% } %>
                    <% if(currentUser && foundSpot.author.equals(currentUser)) { %>
                        <a href="/spots/<%= foundSpot.id %>/edit" class="btn btn-primary">Edit Spot</a>
                        <form class="d-inline" action="/spots/<%= foundSpot.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Spot</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-3">
            <form action="/spots/<%= foundSpot.id %>/reviews" method="POST" class="needs-validation" novalidate>
                <% if(!currentUser) { %>
                    <p class="card-text mt-3">Login to Leave a Review!</p>
                <% } %>
                    <div class="mt-3">
                        <% if(currentUser) { %>
                            <label class="form-label" for="body"><strong>Leave A Review!</strong></label>
                        <% } %>                        
                        <textarea class="form-control" name="body" id="body" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label" for="rating">Leave A Rating: (1-5)</label>
                        <input class="form-control" type="number" name="rating" id="rating" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-info">Submit</button>
                    </div>
                    <h3 class="mt-5">Reviews:</h3>
            </form>
            <div>
                <% for(let i=0; i < foundSpot.reviews.length; i++) { %>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header d-flex justify-content-between">Author: <%= foundSpot.reviews[i].author.username %>
                            <% if(currentUser && foundSpot.reviews[i].author.equals(currentUser)) { %>
                                <form class="d-inline"
                                action="/spots/<%= foundSpot.id %>/reviews/<%= foundSpot.reviews[i].id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">x</button>
                            </form>
                            <% } %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Rating: <%= foundSpot.reviews[i].rating %>
                            </h5>
                            <p class="card-text">
                                <%= foundSpot.reviews[i].body %>
                            </p>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>